body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  padding: 0;
}

#menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgb(50, 50, 50);
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 5px;
}

#menu-icon {
  width: 32px;
  height: 32px;
  display: block;
}